.table {
    height: 1000px;
    overflow-y: auto;
  }
.hero {
  position: relative;
  height: 550px;
  padding: 20px;
  margin: 0;
  background: black;
  background-image: url("../images/stock_header.jpeg");
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
}