.table {
    height: 1000px;
    overflow-y: auto;
  }
.hero {
  position: relative;
  height: 250px;
  padding: 85px;
  margin: 0;
  color: white;
  background: black;
  background-image: url("../images/stock_header.jpeg");
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
}

.news {
  width: 160px
}

.news-scroll a {
  text-decoration: none
}

.dot {
  height: 6px;
  width: 6px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 0px !important;
  background-color: rgb(207, 23, 23);
  border-radius: 50%;
  display: inline-block
}


.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid green;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-top: 20px solid #f00;
}

.green_arrow {
  color: green
}

.red_arrow {
  color: red
}