<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="timeSeriesID">
                <div class="timeSeries"></div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md" id="sunburstID">
                <div class="sunburst"></div>
            </div>
        </div>
        
        <div class="table"></div>
        
        <div class="banner"></div>

    </div>

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script type="text/javascript" src="../static/js/timeSeries.js"></script>
    <script type="text/javascript" src="../static/js/sunburst.js"></script>
</body>